<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homw</title>
    <link
      rel="shortcut icon"
      href="./img/whiteKnight.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="home.css" />
  </head>
  <body>
    <div class="parent">
      <div class="child">
        <h1>Connect to</h1>

        <input type="text" name="room" id="room" />
        <button id="join">join</button>
        <script src="home.js"></script>
      </div>
      <div>
        <p>
          Open this website in friends browser and user some random same string
          to join
        </p>
      </div>
    </div>
  </body>
</html>
